<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Filmes - CinemaFlix</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <!-- Corrigido o fechamento da tag <a> -->
            <a href="index.html" id="CinemaFlix">
                <h3>CinemaFlix</h3>
            </a>
        </div>
        <nav class="nav">
            <section class="buttonn" id="buttonn">
                <!-- Links de navegação -->
               
                <a href="cadastro.html">
                    <button type="button">Cadastrar Filme</button>
                </a>
                <a href="cadastrodeusuario.html">
                    <button type="button">Novo usuario</button>
                </a>
            </section>
        </nav>
    </header>

    <!-- Seção de Login -->
    <section class="login" id="login">
        <h2>Login</h2>
        <form action="#" method="POST">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>
    </section>

</body>

</html>
